# Setting Everything Up

In [3]:
import pandas as pd
from datetime import datetime

In [4]:
#import the file from the web
import requests
from bs4 import BeautifulSoup
import pandas as pd
from unicodedata import normalize
import re
from datetime import datetime
from pandas import read_csv 
from sklearn.feature_extraction.text import CountVectorizer
import json
from flatten_json import flatten


# I can give a number or use None to remove maximum ceiling & display all columns
pd.options.display.max_columns = None

# # I want to be able to see the entire narrative, so remove the maximum width for each column
# pd.options.display.max_colwidth = None

# pd.options.display.float_format = '{:,.0f}'.format

import string

%matplotlib inline

In [5]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (8, 8)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [6]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [7]:
%%R

# My commonly used R imports

require('tidyverse')

R[write to console]: Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [8]:
#To Download PDFs
from urllib.parse import urljoin

In [9]:
#To import camelot and PDF-related items
import camelot
import ghostscript
import sys

In [10]:
%%R

library(jpeg)
library(wordcloud)
library(RColorBrewer)
library(wordcloud2)
library(tm)
library(reshape2)
library(data.table)

R[write to console]: Loading required package: RColorBrewer

R[write to console]: Loading required package: NLP

R[write to console]:
Attaching package: ‘NLP’


R[write to console]: The following object is masked from ‘package:ggplot2’:

    annotate


R[write to console]:
Attaching package: ‘reshape2’


R[write to console]: The following object is masked from ‘package:tidyr’:

    smiths


R[write to console]: data.table 1.14.8 using 1 threads (see ?getDTthreads).  Latest news: r-datatable.com

R[write to console]: **********
This installation of data.table has not detected OpenMP support. It should still work but in single-threaded mode.
This is a Mac. Please read https://mac.r-project.org/openmp/. Please engage with Apple and ask them for support. Check r-datatable.com for updates, and our Mac instructions here: https://github.com/Rdatatable/data.table/wiki/Installation. After several years of many reports of installation problems on Mac, it's time to gingerly point out that there have been no similar problems on Windows or Linux.
**********

R[write to console]:
Attaching package: ‘data.table’


R[write to console]: The following objects are masked from ‘package:reshape2’:

    dcast, melt


R[write to console]: The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


R[write to console]: The following objects are masked from ‘package:dplyr’:

    between, first, last


R[write to console]: The following object is masked from ‘package:purrr’:

    transpose

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
%%R
library(vistime)
library(shiny)
library(plotly)
#for timeline plotting

R[write to console]:
Attaching package: ‘plotly’


R[write to console]: The following object is masked from ‘package:ggplot2’:

    last_plot


R[write to console]: The following object is masked from ‘package:stats’:

    filter


R[write to console]: The following object is masked from ‘package:graphics’:

    layout

In [13]:
from collections import Counter

# For School attendance data

### Reading the Data

In [61]:
df_school_attendance_separated=pd.read_csv("df_school_attendance_separated.csv")

In [62]:
original_df=df_school_attendance_separated

# Change the column titles

In [63]:
import pandas as pd

def rename_columns(original_df):
    # Create a mapping dictionary for column name replacements
    mapping = {col: col.replace(' ', '_').replace('/', '_').replace('*', '_astrsk') for col in original_df.columns}
    
    # Rename the columns using the mapping dictionary
    original_df.rename(columns=mapping, inplace=True)

# Example usage
# Assuming you have a DataFrame named 'df'
rename_columns(original_df)

In [64]:
original_df

,Unnamed:_0,County__Special_Age_Groups__Total_astrsk,title,title_and_age,title_and_age_original,Total_astrsk_Total,Total_astrsk_Male,Total_astrsk_Female,Female_Total_Male_Female,At_School__Learning_Institution_Total,At_School__Learning_Institution_Male,At_School__Learning_Institution_Female,Total_Male_Female_Total_Male_Female,Left_School__Learning_Institution_After_completion_Total,Left_School__Learning_Institution_After_completion_Male,Left_School__Learning_Institution_After_completion_Female,Left_School__Learning_Institution_Before_completion_Total,Left_School__Learning_Institution_Before_completion_Male,Left_School__Learning_Institution_Before_completion_Female,Total_Male_Female_never,Never_Been_to_School_Learning_Institution_Total,Never_Been_to_School_Learning_Institution_Male,Never_Been_to_School_Learning_Institution_Female,Total_Male_Female_dont_know,Don't_Know_Total,Don't_Know_Male,Don't_Know_Female,Total_Male_Female_not_stated,Not_State_Total,Not_State_Male,Not_State_Female
0,0.0,"MOMBASA 1,100,173 552,476",MOMBASA,Total,MOMBASA,"1,100,173","552,476","547,681","547,681 378,423 189,490 188,930","378,423",NaN,"188,930","457,603 243,173 214,424 153,982 74,382 79,596","457,603",NaN,NaN,"243,173","214,424","153,982","101,097 40,253 60,843","101,097","40,253","60,843","8,817 5,043","8,817","5,043","3,772","3,772 251 135 116",251,135,116
1,1.0,"3-5 84,323 42,434",MOMBASA,3-5,3-5,"84,323","42,434","41,889","41,889 57,828 28,547 29,281","57,828","28,547","29,281",467 246 221 131 67 64,467,246,221,131,67,64,"25,241 13,231 12,010","25,241","13,231","12,010",644 335,644,335,309,309 12 8 4,12,8,4
2,2.0,"4-5 55,708 27,813",MOMBASA,4-5,4-5,"55,708","27,813","27,895","27,895 46,528 22,965 23,563","46,528","22,965","23,563",374 197 177 107 52 55,374,197,177,107,52,55,"8,421 4,456 3,965","8,421","4,456","3,965",269 138,269,138,131,131 9 5 4,9,5,4
3,3.0,"6-13 194,684 96,354",MOMBASA,6-13,6-13,"194,684","96,354","98,328","98,328 186,170 92,111 94,057","186,170","92,111","94,057","1,924 950 974 790 375 415","1,924",950,974,790,375,415,"5,190 2,620 2,570","5,190","2,620","2,570",579 285,579,285,294,294 31 13 18,31,13,18
4,4.0,"14-17 77,650 37,269",MOMBASA,14-17,14-17,"77,650","37,269","40,381","40,381 68,494 33,719 34,775","68,494","33,719","34,775","4,146 1,588 2,558 2,793 1,028 1,765","4,146","1,588","2,558","2,793","1,028","1,765","1,931 811 1,120","1,931",811,"1,120",275 119,275,119,156,156 11 4 7,11,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,NaN,NaN,NAIROBI CITY,6-13,6-13,"647,172","318,772","328,378",NaN,"626,872","308,824","318,027",NaN,"6,922","3,311","3,611","1,419",675,744,NaN,"10,267","5,122","5,144",NaN,"1,517",760,757,NaN,175,80,95
372,NaN,NaN,NAIROBI CITY,14-17,14-17,"268,415","125,411","142,991",NaN,"244,522","116,106","128,407",NaN,"11,894","4,689","7,204","7,149","2,634","4,513",NaN,"3,912","1,589","2,322",NaN,835,356,479,NaN,103,37,66
373,NaN,NaN,NAIROBI CITY,18-22,18-22,"452,021","194,876","257,112",NaN,"165,255","81,129","84,117",NaN,"213,203","87,659","125,533","60,607","21,109","39,489",NaN,"9,914","3,729","6,183",NaN,"2,867","1,169","1,697",NaN,175,81,93
374,NaN,NaN,NAIROBI CITY,23+,23+,"2,357,578","1,204,741","1,152,722",NaN,"117,853","64,260","53,584",NaN,"1,687,782","887,619","800,108","436,371","203,545","232,788",NaN,"86,277","32,682","53,587",NaN,"28,326","16,112","12,211",NaN,969,523,444
375,NaN,NaN,NAIROBI CITY,Not Stated,Not Stated,122,59,63,NaN,-,-,-,NaN,-,-,-,-,-,-,NaN,-,-,-,NaN,-,-,-,NaN,122,59,63

In [65]:
import pandas as pd

# Assuming you have a DataFrame named 'df'
column_names = original_df.columns.tolist()

# Print the list of column names
print(column_names)

['Unnamed:_0', 'County__Special_Age_Groups__Total_astrsk', 'title', 'title_and_age', 'title_and_age_original', 'Total_astrsk_Total', 'Total_astrsk_Male', 'Total_astrsk_Female', 'Female_Total_Male_Female', 'At_School__Learning_Institution_Total', 'At_School__Learning_Institution_Male', 'At_School__Learning_Institution_Female', 'Total_Male_Female_Total_Male_Female', 'Left_School__Learning_Institution_After_completion_Total', 'Left_School__Learning_Institution_After_completion_Male', 'Left_School__Learning_Institution_After_completion_Female', 'Left_School__Learning_Institution_Before_completion_Total', 'Left_School__Learning_Institution_Before_completion_Male', 'Left_School__Learning_Institution_Before_completion_Female', 'Total_Male_Female_never', 'Never_Been_to_School_Learning_Institution_Total', 'Never_Been_to_School_Learning_Institution_Male', 'Never_Been_to_School_Learning_Institution_Female', 'Total_Male_Female_dont_know', "Don't_Know_Total", "Don't_Know_Male", "Don't_Know_Female", 'Total_Male_Female_not_stated', 'Not_State_Total', 'Not_State_Male', 'Not_State_Female']

### Setting the Data so that the all details for one county are in one row

In [66]:
import pandas as pd

# Assuming your original dataset is stored in a DataFrame called 'original_df'
# and the age group details are stored in a column called 'title_and_age'
# and the county titles are stored in a column called 'title'

# Define the age groups
age_groups = {
    'Total': 'Total',
    '3-5': '3to5',
    '4-5': '4to5',
    '6-13': '6to13',
    '14-17': '14to17',
    '18-22': '18to22',
    '23+': '23plus',
    'Not Stated': 'NotStated'
}

# Create an empty dictionary to store the transformed data
transformed_data = {}

# Extract the unique county names
county_names = original_df['title'].unique()

# Initialize the transformed_data dictionary with default values for each column
for county in county_names:
    transformed_data[county] = {'County': county}
    for age_group, prefix in age_groups.items():
        for column in original_df.columns:
            transformed_data[county][prefix + '_' + column] = []

# Iterate through each row in the original dataframe
for index, row in original_df.iterrows():
    county = row['title']
    age_group = row['title_and_age']

    # Iterate through each column in the row
    for column in original_df.columns:
        transformed_data[county][age_groups[age_group] + '_' + column].append(row[column])

# Create the transformed DataFrame
transformed_df = pd.DataFrame()
for county, data in transformed_data.items():
    county_df = pd.DataFrame(data)
    transformed_df = transformed_df.append(county_df, ignore_index=True)

# Reset the index
transformed_df.reset_index(drop=True, inplace=True)

In [67]:
transformed_df

,County,Total_Unnamed:_0,Total_County__Special_Age_Groups__Total_astrsk,Total_title,Total_title_and_age,Total_title_and_age_original,Total_Total_astrsk_Total,Total_Total_astrsk_Male,Total_Total_astrsk_Female,Total_Female_Total_Male_Female,Total_At_School__Learning_Institution_Total,Total_At_School__Learning_Institution_Male,Total_At_School__Learning_Institution_Female,Total_Total_Male_Female_Total_Male_Female,Total_Left_School__Learning_Institution_After_completion_Total,Total_Left_School__Learning_Institution_After_completion_Male,Total_Left_School__Learning_Institution_After_completion_Female,Total_Left_School__Learning_Institution_Before_completion_Total,Total_Left_School__Learning_Institution_Before_completion_Male,Total_Left_School__Learning_Institution_Before_completion_Female,Total_Total_Male_Female_never,Total_Never_Been_to_School_Learning_Institution_Total,Total_Never_Been_to_School_Learning_Institution_Male,Total_Never_Been_to_School_Learning_Institution_Female,Total_Total_Male_Female_dont_know,Total_Don't_Know_Total,Total_Don't_Know_Male,Total_Don't_Know_Female,Total_Total_Male_Female_not_stated,Total_Not_State_Total,Total_Not_State_Male,Total_Not_State_Female,3to5_Unnamed:_0,3to5_County__Special_Age_Groups__Total_astrsk,3to5_title,3to5_title_and_age,3to5_title_and_age_original,3to5_Total_astrsk_Total,3to5_Total_astrsk_Male,3to5_Total_astrsk_Female,3to5_Female_Total_Male_Female,3to5_At_School__Learning_Institution_Total,3to5_At_School__Learning_Institution_Male,3to5_At_School__Learning_Institution_Female,3to5_Total_Male_Female_Total_Male_Female,3to5_Left_School__Learning_Institution_After_completion_Total,3to5_Left_School__Learning_Institution_After_completion_Male,3to5_Left_School__Learning_Institution_After_completion_Female,3to5_Left_School__Learning_Institution_Before_completion_Total,3to5_Left_School__Learning_Institution_Before_completion_Male,3to5_Left_School__Learning_Institution_Before_completion_Female,3to5_Total_Male_Female_never,3to5_Never_Been_to_School_Learning_Institution_Total,3to5_Never_Been_to_School_Learning_Institution_Male,3to5_Never_Been_to_School_Learning_Institution_Female,3to5_Total_Male_Female_dont_know,3to5_Don't_Know_Total,3to5_Don't_Know_Male,3to5_Don't_Know_Female,3to5_Total_Male_Female_not_stated,3to5_Not_State_Total,3to5_Not_State_Male,3to5_Not_State_Female,4to5_Unnamed:_0,4to5_County__Special_Age_Groups__Total_astrsk,4to5_title,4to5_title_and_age,4to5_title_and_age_original,4to5_Total_astrsk_Total,4to5_Total_astrsk_Male,4to5_Total_astrsk_Female,4to5_Female_Total_Male_Female,4to5_At_School__Learning_Institution_Total,4to5_At_School__Learning_Institution_Male,4to5_At_School__Learning_Institution_Female,4to5_Total_Male_Female_Total_Male_Female,4to5_Left_School__Learning_Institution_After_completion_Total,4to5_Left_School__Learning_Institution_After_completion_Male,4to5_Left_School__Learning_Institution_After_completion_Female,4to5_Left_School__Learning_Institution_Before_completion_Total,4to5_Left_School__Learning_Institution_Before_completion_Male,4to5_Left_School__Learning_Institution_Before_completion_Female,4to5_Total_Male_Female_never,4to5_Never_Been_to_School_Learning_Institution_Total,4to5_Never_Been_to_School_Learning_Institution_Male,4to5_Never_Been_to_School_Learning_Institution_Female,4to5_Total_Male_Female_dont_know,4to5_Don't_Know_Total,4to5_Don't_Know_Male,4to5_Don't_Know_Female,4to5_Total_Male_Female_not_stated,4to5_Not_State_Total,4to5_Not_State_Male,4to5_Not_State_Female,6to13_Unnamed:_0,6to13_County__Special_Age_Groups__Total_astrsk,6to13_title,6to13_title_and_age,6to13_title_and_age_original,6to13_Total_astrsk_Total,6to13_Total_astrsk_Male,6to13_Total_astrsk_Female,6to13_Female_Total_Male_Female,6to13_At_School__Learning_Institution_Total,6to13_At_School__Learning_Institution_Male,6to13_At_School__Learning_Institution_Female,6to13_Total_Male_Female_Total_Male_Female,6to13_Left_School__Learning_Institution_After_completion_Total,6to13_Left_School__Learning_Institution_After_completion_Male,6to13_Left_School__Learning_Institution_After_completion_Female,6to13_Left_School__Learning_Institution_Before_completion_Total,6to13_Left_School__Learning_Institution_Before_completion_Male,6to13_Left_School__Learning_Institution_Before_completion_Female,6to13_Total_Male_Female_never,6to13_Never_Been_to_School_Learning_Institution_Total,6to13_Never_Been_to_School_Learning_Institution_Male,6to13_Never_Been_to_School_Learning_Institution_Female,6to13_Total_Male_Female_dont_know,6to13_Don't_Know_Total,6to13_Don't_Know_Male,6to13_Don't_Know_Female,6to13_Total_Male_Female_not_stated,6to13_Not_State_Total,6to13_Not_State_Male,6to13_Not_State_Female,14to17_Unnamed:_0,14to17_County__Special_Age_Groups__Total_astrsk,14to17_title,14to17_title_and_age,14to17_title_and_age_original,14to17_Total_astrsk_Total,14to17_Total_astrsk_Male,14to17_Total_astrsk_Female,14to17_Female_Total_Male_Female,14to17_At_School__Learning_Institution_Total,14to17_At_School__Learning_Institution_Male,14to17_At_School__Learning_Institution_Female,14to17_Total_Male_Female_Total_Male_Female,14to17_Left_School__Learning_Institution_After_completion_Total,14to17_Left_School__Learning_Institution_After_completion_Male,14to17_Left_School__Learning_Institution_After_completion_Female,14to17_Left_School__Learning_Institution_Before_completion_Total,14to17_Left_School__Learning_Institution_Before_completion_Male,14to17_Left_School__Learning_Institution_Before_completion_Female,14to17_Total_Male_Female_never,14to17_Never_Been_to_School_Learning_Institution_Total,14to17_Never_Been_to_School_Learning_Institution_Male,14to17_Never_Been_to_School_Learning_Institution_Female,14to17_Total_Male_Female_dont_know,14to17_Don't_Know_Total,14to17_Don't_Know_Male,14to17_Don't_Know_Female,14to17_Total_Male_Female_not_stated,14to17_Not_State_Total,14to17_Not_State_Male,14to17_Not_State_Female,18to22_Unnamed:_0,18to22_County__Special_Age_Groups__Total_astrsk,18to22_title,18to22_title_and_age,18to22_title_and_age_original,18to22_Total_astrsk_Total,18to22_Total_astrsk_Male,18to22_Total_astrsk_Female,18to22_Female_Total_Male_Female,18to22_At_School__Learning_Institution_Total,18to22_At_School__Learning_Institution_Male,18to22_At_School__Learning_Institution_Female,18to22_Total_Male_Female_Total_Male_Female,18to22_Left_School__Learning_Institution_After_completion_Total,18to22_Left_School__Learning_Institution_After_completion_Male,18to22_Left_School__Learning_Institution_After_completion_Female,18to22_Left_School__Learning_Institution_Before_completion_Total,18to22_Left_School__Learning_Institution_Before_completion_Male,18to22_Left_School__Learning_Institution_Before_completion_Female,18to22_Total_Male_Female_never,18to22_Never_Been_to_School_Learning_Institution_Total,18to22_Never_Been_to_School_Learning_Institution_Male,18to22_Never_Been_to_School_Learning_Institution_Female,18to22_Total_Male_Female_dont_know,18to22_Don't_Know_Total,18to22_Don't_Know_Male,18to22_Don't_Know_Female,18to22_Total_Male_Female_not_stated,18to22_Not_State_Total,18to22_Not_State_Male,18to22_Not_State_Female,23plus_Unnamed:_0,23plus_County__Special_Age_Groups__Total_astrsk,23plus_title,23plus_title_and_age,23plus_title_and_age_original,23plus_Total_astrsk_Total,23plus_Total_astrsk_Male,23plus_Total_astrsk_Female,23plus_Female_Total_Male_Female,23plus_At_School__Learning_Institution_Total,23plus_At_School__Learning_Institution_Male,23plus_At_School__Learning_Institution_Female,23plus_Total_Male_Female_Total_Male_Female,23plus_Left_School__Learning_Institution_After_completion_Total,23plus_Left_School__Learning_Institution_After_completion_Male,23plus_Left_School__Learning_Institution_After_completion_Female,23plus_Left_School__Learning_Institution_Before_completion_Total,23plus_Left_School__Learning_Institution_Before_completion_Male,23plus_Left_School__Learning_Institution_Before_completion_Female,23plus_Total_Male_Female_never,23plus_Never_Been_to_School_Learning_Institution_Total,23plus_Never_Been_to_School_Learning_Institution_Male,23plus_Never_Been_to_School_Learning_Institution_Female,23plus_Total_Male_Female_dont_know,23plus_Don't_Know_Total,23plus_Don't_Know_Male,23plus_Don't_Know_Female,23plus_Total_Male_Female_not_stated,23plus_Not_State_Total,23plus_Not_State_Male,23plus_Not_State_Female,NotStated_Unnamed:_0,NotStated_County__Special_Age_Groups__Total_astrsk,NotStated_title,NotStated_title_and_age,NotStated_title_and_age_original,NotStated_Total_astrsk_Total,NotStated_Total_astrsk_Male,NotStated_Total_astrsk_Female,NotStated_Female_Total_Male_Female,NotStated_At_School__Learning_Institution_Total,NotStated_At_School__Learning_Institution_Male,NotStated_At_School__Learning_Institution_Female,NotStated_Total_Male_Female_Total_Male_Female,NotStated_Left_School__Learning_Institution_After_completion_Total,NotStated_Left_School__Learning_Institution_After_completion_Male,NotStated_Left_School__Learning_Institution_After_completion_Female,NotStated_Left_School__Learning_Institution_Before_completion_Total,NotStated_Left_School__Learning_Institution_Before_completion_Male,NotStated_Left_School__Learning_Institution_Before_completion_Female,NotStated_Total_Male_Female_never,NotStated_Never_Been_to_School_Learning_Institution_Total,NotStated_Never_Been_to_School_Learning_Institution_Male,NotStated_Never_Been_to_School_Learning_Institution_Female,NotStated_Total_Male_Female_dont_know,NotStated_Don't_Know_Total,NotStated_Don't_Know_Male,NotStated_Don't_Know_Female,NotStated_Total_Male_Female_not_stated,NotStated_Not_State_Total,NotStated_Not_State_Male,NotStated_Not_State_Female
0,MOMBASA,0.0,"MOMBASA 1,100,173 552,476",MOMBASA,Total,MOMBASA,"1,100,173","552,476","547,681","547,681 378,423 189,490 188,930","378,423",NaN,"188,930","457,603 243,173 214,424 153,982 74,382 79,596","457,603",NaN,NaN,"243,173","214,424","153,982","101,097 40,253 60,843","101,097","40,253","60,843","8,817 5,043","8,817","5,043","3,772","3,772 251 135 116",251,135,116,1.0,"3-5 84,323 42,434",MOMBASA,3-5,3-5,"84,323","42,434","41,889","41,889 57,828 28,547 29,281","57,828","28,547","29,281",467 246 221 131 67 64,467,246,221,131,67,64,"25,241 13,231 12,010","25,241","13,231","12,010",644 335,644,335,309,309 12 8 4,12,8,4,2.0,"4-5 55,708 27,813",MOMBASA,4-5,4-5,"55,708","27,813","27,895","27,895 46,528 22,965 23,563","46,528","22,965","23,563",374 197 177 107 52 55,374,197,177,107,52,55,"8,421 4,456 3,965","8,421","4,456","3,965",269 138,269,138,131,131 9 5 4,9,5,4,3.0,"6-13 194,684 96,354",MOMBASA,6-13,6-13,"194,684","96,354","98,328","98,328 186,170 92,111 94,057","186,170","92,111","94,057","1,924 950 974 790 375 415","1,924",950,974,790,375,415,"5,190 2,620 2,570","5,190","2,620","2,570",579 285,579,285,294,294 31 13 18,31,13,18,4.0,"14-17 77,650 37,269",MOMBASA,14-17,14-17,"77,650","37,269","40,381","40,381 68,494 33,719 34,775","68,494","33,719","34,775","4,146 1,588 2,558 2,793 1,028 1,765","4,146","1,588","2,558","2,793","1,028","1,765","1,931 811 1,120","1,931",811,"1,120",275 119,275,119,156,156 11 4 7,11,4,7,5.0,"18-22 119,644 53,843",MOMBASA,18-22,18-22,"119,644","53,843","65,798","65,798 40,268 20,912 19,356","40,268","20,912","19,356","55,303 23,725 31,578 18,868 7,268 11,598","55,303","23,725","31,578","18,868","7,268","11,598","4,557 1,660 2,897","4,557","1,660","2,897",629 269,629,269,359,359 19 9 10,19,9,10,6.0,"23+ 623,848 322,563",MOMBASA,23+,23+,"623,848","322,563","301,274","301,274 25,663 14,201 11,461","25,663","14,201","11,461","395,763 216,664 179,093 131,400 65,644 65,754","395,763",NaN,NaN,"216,664","179,093","131,400","64,178 21,931 42,246","64,178","21,931","42,246","6,690 4,035","6,690","4,035","2,654","2,654 154 88 66",154,88,66,7.0,Not Stated 24 13,MOMBASA,Not Stated,Not Stated,24,13,11,11 - - -,-,-,-,- - - - - -,-,-,-,-,-,-,- -,-,-,-,- - -,-,-,-,- 24 13 11,24,13,11
1,KWALE,8.0,"KWALE 783,189 382,538",KWALE,Total,KWALE,"783,189","382,538","400,636","400,636 334,612 171,696 162,911","334,612",NaN,"162,911","152,178 83,012 69,162 98,811 49,352 49,457","152,178","83,012","69,162","98,811","49,352","49,457","192,001 75,281 116,716","192,001","75,281","116,716","5,418 3,108","5,418","3,108","2,310","2,310 169 89 80",169,89,80,9.0,"3-5 83,068 41,933",KWALE,3-5,3-5,"83,068","41,933","41,134","41,134 38,902 19,159 19,743","38,902","19,159","19,743",139 65 74 60 35 25,139,65,74,60,35,25,"43,471 22,426 21,044","43,471","22,426","21,044",481 240,481,240,241,241 15 8 7,15,8,7,10.0,"4-5 56,504 28,730",KWALE,4-5,4-5,"56,504","28,730","27,774","27,774 34,535 17,139 17,396","34,535","17,139","17,396",110 53 57 48 24 24,110,53,57,48,24,24,"21,540 11,379 10,161","21,540","11,379","10,161",261 128,261,128,133,133 10 7 3,10,7,3,11.0,"6-13 204,259 103,008",KWALE,6-13,6-13,"204,259","103,008","101,246","101,246 185,190 93,232 91,955","185,190","93,232","91,955","770 385 384 1,043 552 491",770,385,384,"1,043",552,491,"16,615 8,499 8,115","16,615","8,499","8,115",611 322,611,322,289,289 30 18 12,30,18,12,12.0,"14-17 83,492 42,684",KWALE,14-17,14-17,"83,492","42,684","40,808","40,808 70,746 36,454 34,292","70,746","36,454","34,292","2,198 900 1,298 4,373 2,158 2,215","2,198",900,"1,298","4,373","2,158","2,215","5,908 3,031 2,877","5,908","3,031","2,877",251 131,251,131,120,120 16 10 6,16,10,6,13.0,"18-22 80,175 38,332",KWALE,18-22,18-22,"80,175","38,332","41,841","41,841 31,324 18,083 13,240","31,324","18,083","13,240","22,674 9,590 13,083 16,532 6,837 9,695","22,674","9,590","13,083","16,532","6,837","9,695","9,181 3,601 5,580","9,181","3,601","5,580",449 215,449,215,234,234 15 6 9,15,6,9,14.0,"23+ 332,185 156,576",KWALE,23+,23+,"332,185","156,576","175,602","175,602 8,450 4,768 3,681","8,450","4,768","3,681","126,397 72,072 54,323 76,803 39,770 37,031","126,397","72,072","54,323","76,803","39,770","37,031","116,826 37,724 79,100","116,826","37,724","79,100","3,626 2,200","3,626","2,200","1,426","1,426 83 42 41",83,42,41,15.0,Not Stated 10,KWALE,Not Stated,Not Stated,Stated,10,5,5 5 - - -,5,-,-,- - - - - -,-,-,-,-,-,-,- -,-,-,-,- - -,-,-,-,- 10 5 5,10,5,5
2,KILIFI,16.0,"KILIFI 1,323,664 636,891",KILIFI,Total,KILIFI,"1,323,664","636,891","686,754","686,754 605,776 308,926 296,841","605,776","308,926","296,841","282,538 154,263 128,273 175,199 86,075 89,122","282,538","154,263",NaN,NaN,"128,273",NaN,"250,280 82,303 167,972","250,280","82,303","167,972","9,634 5,214","9,634","5,214","4,420","4,420 237 110 126",237,110,126,17.0,"3-5 126,430 63,506",KILIFI,3-5,3-5,"126,430","63,506","62,923","62,923 74,467 36,629 37,837","74,467","36,629","37,837",268 138 130 107 47 60,268,138,130,107,47,60,"50,798 26,291 24,507","50,798","26,291","24,507",778 393,778,393,385,385 12 8 4,12,8,4,18.0,"4-5 85,491 43,101",KILIFI,4-5,4-5,"85,491","43,101","42,389","42,389 62,064 30,760 31,303","62,064","30,760","31,303",208 108 100 89 38 51,208,108,100,89,38,51,"22,668 11,964 10,704","22,668","11,964","10,704",452 225,452,225,227,227 10 6 4,10,6,4,19.0,"6-13 328,848 164,769",KILIFI,6-13,6-13,"328,848","164,769","164,072","164,072 311,570 155,860 155,705","311,570","155,860","155,705","1,385 662 723 988 516 472","1,385",662,723,988,516,472,"13,828 7,198 6,628","13,828","7,198","6,628","1,035 511","1,035",511,524,524 42 22 20,42,22,20,20.0,"14-17 144,986 73,000",KILIFI,14-17,14-17,"144,986","73,000","71,983","71,983 133,019 67,451 65,565","133,019","67,451","65,565","3,092 1,274 1,818 4,451 2,020 2,431","3,092","1,274","1,818","4,451","2,020","2,431","3,980 2,038 1,942","3,980","2,038","1,942",421 205,421,205,216,216 23 12 11,23,12,11,21.0,"18-22 146,905 71,639",KILIFI,18-22,18-22,"146,905","71,639","75,263","75,263 68,786 38,854 29,932","68,786","38,854","29,932","42,363 18,199 24,164 27,066 11,097 15,967","42,363","18,199","24,164","27,066","11,097","15,967","7,844 3,104 4,739","7,844","3,104","4,739",826 375,826,375,451,451 20 10 10,20,10,10,22.0,"23+ 576,479 263,973",KILIFI,23+,23+,"576,479","263,973","312,502","312,502 17,934 10,132 7,802","17,934","10,132","7,802","235,430 133,990 101,438 142,587 72,395 70,192","235,430",NaN,NaN,"133,990","101,438","142,587","173,830 43,672 130,156","173,830","43,672","130,156","6,574 3,730","6,574","3,730","2,844","2,844 124 54 70",124,54,70,23.0,Not Stated 16,KILIFI,Not Stated,Not Stated,Stated,16,4,4 11 - - -,11,-,-,- - - - - -,-,-,-,-,-,-,- -,-,-,-,- - -,-,-,-,- 16 4 11,16,4,11
3,TANA RIVER,24.0,"TANA RIVER 284,605 142,087",TANA RIVER,Total,TANA RIVER,"284,605","142,087","142,516","142,516 95,997 50,470 45,527","95,997","50,470","45,527","32,815 19,351 13,464 29,062 14,502 14,560","32,815","19,351","13,464","29,062","14,502","14,560","125,160 56,872 68,287","125,160","56,872","68,287","1,445 835","1,445",835,609,609 126 57 69,126,57,69,25.0,"3-5 34,347 17,515",TANA RIVER,3-5,3-5,"34,347","17,515","16,832","16,832 11,814 6,021 5,793","11,814","6,021","5,793",41 25 16 25 11 14,41,25,16,25,11,14,"22,334 11,380 10,954","22,334","11,380","10,954",122 71,122,71,51,51 11 7 4,11,7,4,26.0,"4-5 23,116 11,854",TANA RIVER,4-5,4-5,"23,116","11,854","11,262","11,262 10,170 5,240 4,930","10,170","5,240","4,930",36 22 14 17 9 8,36,22,14,17,9,8,"12,816 6,535 6,281","12,816","6,535","6,281",69 42,69,42,27,27 8 6 2,8,6,2,27.0,"6-13 80,023 40,694",TANA RIVER,6-13,6-13,"80,023","40,694","39,329","39,329 54,228 27,623 26,605","54,228","27,623","26,605",278 152 126 444 276 168,278,152,126,444,276,168,"24,849 12,536 12,313","24,849","12,536","12,313",197 95,197,95,102,102 27 12 15,27,12,15,28.0,"14-17 29,071 14,979",TANA RIVER,14-17,14-17,"29,071","14,979","14,091","14,091 18,570 9,666 8,904","18,570","9,666","8,904","765 334 431 1,472 693 779",765,334,431,"1,472",693,779,"8,169 4,236 3,933","8,169","4,236","3,933",82 45,82,45,36,36 13 5 8,13,5,8,29.0,"18-22 28,997 13,928",TANA RIVER,18-22,18-22,"28,997","13,928","15,069","15,069 7,693 4,697 2,996","7,693","4,697","2,996","6,170 2,853 3,317 5,205 2,200 3,005","6,170","2,853","3,317","5,205","2,200","3,005","9,798 4,106 5,692","9,798","4,106","5,692",119 69,119,69,50,50 12 3 9,12,3,9,30.0,"23+ 112,161 54,966",TANA RIVER,23+,23+,"112,161","54,966","57,194","57,194 3,692 2,463 1,229","3,692","2,463","1,229","25,561 15,987 9,574 21,916 11,322 10,594","25,561","15,987","9,574","21,916","11,322","10,594","60,010 24,614 35,395","60,010","24,614","35,395",925 555,925,555,370,370 57 25 32,57,25,32,31.0,Not Stated 6,TANA RIVER,Not Stated,Not Stated,Stated,6,5,5 1 - - -,1,-,-,- - - - - -,-,-,-,-,-,-,- -,-,-,-,- - -,-,-,-,- 6 5 1,6,5,1

In [ ]:
transformed_df.to_csv("df_school_attendance_transformed.csv")